@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}
html, body, #root, #defaultLayout, #guestLayout {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #212121;
    background-color: #f6f6f6;
}
.btn,
.btn-add,
.btn-edit,
.btn-delete {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #08a70d;
    border: 0;
    text-decoration: none;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.btn-cancel{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f91f07;
    border: 0;
    text-decoration: none;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;

}

.btn-block {
    width: 100%;
}

.btn-add,
.btn-edit,
.btn-delete{
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    border-radius: 4px;
}
.btn-add {
    background-color: #00a762;
}
.btn-delete {
    background-color: #b72424;
}

.btn-logout {
    text-decoration: none;
    padding:5px 5px 10px 5px;
    color:#000;  
    transition: all 0.3s;
        
    border-radius: 2px;    
}
.btn-logout:hover {
    background-color: rgba(209, 209, 209, 0.3);
}

.btn:hover,
.btn:active,
.btn:focus {
    background: #5b08a7;
}
.btn-cancel:hover,
.btn-cancel:active,
.btn-cancel:focus {
    background: #f50606;
}

.text-center {
    text-align: center;
}

table {    
    width: 100%;
    border-spacing: 0;    
    border-collapse: collapse;
}
table tr:nth-child(even) {
    background-color: #eee;
}

table > thead > tr > th {
    text-align: left;
    padding: 0.5rem 0.5rem;
    background-color: #efefef;
}
table>thead {
    border-bottom: solid 0.1px #716f6f;
    position: sticky;
    top: 50px;
    
}


table > tbody > tr > td {
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid #efefef;
    white-space: nowrap;
     
}

.card {
    background-color: #FFF;
    border-top:solid 0.2px #494948;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1.25rem 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.alert {
    padding: 1rem;
    background-color: #ff4040;
    color: white;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.notification {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 1000;
    padding: 1rem 1.5rem;
    background-color: #00a762;
    color: white;
    border-radius: 0.5rem;
}
.errorMessage {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 100;
    padding: 1rem 1.5rem;
    background-color: #e50d18;
    color: white;
    border-radius: 0.5rem;
}

/* Login/Signup forms*/

.login-signup-form {
    height: 100vh;    
    justify-content: center;  
    flex:2;  
}

.login-signup-form .form {
    width: 460px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 34px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    height: 100vh;
}

.login-signup-form .title {
    font-size: 20px;
    margin-bottom: 1rem;
    text-align: center;
}

.login-signup-form .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 16px;
    text-align: center;
}

.login-signup-form .form .message a {
    color: #5b08a7;
    text-decoration: none;
}
.signupleft {
    background-image: url('./assets/img/car1.jpg');
    flex:11;    
    width: 81%;
    height: 100vh;
    background-position: -820px;
    background-repeat: no-repeat;

}
.loginleft {
    flex:11;
    /* background: url('./assets/img/car2.jpg'); */
    width: 100%;
    height: auto;
    background-position:60% 100%;
    background-repeat: no-repeat;
    
    
}

/* Login/Signup form */


#defaultLayout {
    display: flex;
}
#defaultLoyot .top{
    height: 10%;
}

#defaultLayout aside {
    display:flex;
    flex-direction: column;
   
    width: 240px;
    background-color: #5b08a7;
    padding: 1rem
    
}

#defaultLayout aside > a {
    display: block;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
}

#defaultLayout aside > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#defaultLayout{
    flex: 1;
}
#defaultLayout2 {
    position:absolute; 
    width:200px; 
    height:100%;
}
#main2 {
    padding: 2rem;
}

#defaultLayout header {
    height: 80px;
    padding: 2rem 2rem;
    background-color: rgb(1, 222, 251);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;    
    justify-content: space-between;
    align-items: center;
   
}
#defaultLayout header > a {
    display: block;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
}
#defaultLayout header > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#defaultLayout main {
    padding: 2rem;
}
#container_div{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}
#error-div{    
      
    text-align: center;

}

.topBarContainer {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    background-color: cornflowerblue;
}

.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
* {
    border-radius: 5px;
}

body.thumb {
    transform: scale(0.4);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

main {
    min-height: 80vh;
}

[class*='container'] {
    border: 1px dashed #eee;
    background-clip: content-box;
}

.row [class*='col'] {
    background-color: #efefef;
    background-clip: content-box;
}

.nav-item {
    background-color: #eeeeff;
    background-clip: content-box;
}
.settings {
    margin-right: 5px;  
    margin-top: -3px;
    padding: 2px;  
    background-image: url('./assets/img/settings.png');
}
.myvehicles{    
    margin: 5px;   
    background-image: url('./assets/img/my.jpg');
    background-position: -330px;
    width: 100%;
    height: 400px;
     
}
.cartext{
    font-size: 80px;
    font-weight: 600;
    text-align: center;
    line-height: 400px;
    text-shadow: 5px 5px #fff;
}
.copy{
    padding: 60px;
    text-align: center;
}
#timeSelector button {
    width: 100%;
    margin: 2px;
    border-radius: 0;
}
.timeRows{      
    float:left;
    color: #00f;
    font-weight: bold;
    line-height: 24px;
    background-color: rgba(101, 153, 5, 0.3);
}
#textOpen {
    display: flex;
    font-weight: bold;
    line-height: 20px;
    font-size: 23px;
    justify-content: center;
    color: #00f;
    padding: 10px;
    background-color: rgba(101, 153, 5, 0.3);
}
.btn1{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f70303;
    border: 0;
    text-decoration: none;
    padding: 2px;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.btn1:disabled {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #cc0808;
    border: 0;    
    text-decoration: none;
    padding: 2px;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.btn1:disabled:hover {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: transparent;
    border: solid 2px #fa0808;;
    text-decoration: none;
    padding: 2px;
    color: #191818;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;

}
.btn1:hover {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: transparent;
    border: solid 2px #0593f9;;
    text-decoration: none;
    padding: 2px;
    color: #191818;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;

}
.btn2{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #909294;
    border: 0;
    text-decoration: none;
    padding: 2px;
    color: #070707;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.btn0{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #085fa7;
    border: 0;
    text-decoration: none;
    padding: 2px;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.btn9{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #eed706;
    border: 0;
    text-decoration: none;
    padding: 2px;
    color: #121111;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.featuredItem1 {    
    margin: 20px;
    padding: 20px;
    width: 300px;
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    -webkit-box-shadow: 8px 5px 28px 0.1px rgb(252, 169, 169);
    -moz-box-shadow: 8px 5px 28px 0.1px rgb(235, 99, 99);
    box-shadow: 8px 5px 28px 0.1px rgb(231, 141, 141);
}
.statistic{
    background-image: url('./assets/img/expensive.gif');
    background-size: 240px 240px;
    background-repeat: no-repeat;    
    margin: 20px;
    width: 240px;
    height: 240px;
    border-radius: 2px;
    color: #110e0e;
    cursor: pointer;
    -webkit-box-shadow: 8px 5px 28px 0.1px rgb(87, 84, 84);
    -moz-box-shadow: 8px 5px 28px 0.1px rgb(87, 84, 84);
    box-shadow: 8px 5px 28px 0.1px rgb(87, 84, 84);
}
.salesStat{
    background-image: url('./assets/img/statistic.gif');
    background-size: 240px 240px;
    background-repeat: no-repeat;    
    margin: 20px;
    width: 240px;
    height: 240px;
    border-radius: 2px;
    color: #110e0e;
    cursor: pointer;
    -webkit-box-shadow: 8px 5px 28px 0.1px rgb(87, 84, 84);
    -moz-box-shadow: 8px 5px 28px 0.1px rgb(87, 84, 84);
    box-shadow: 8px 5px 28px 0.1px rgb(87, 84, 84);
}